name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: runs-on=${{ github.run_id }}/image=windows22-base-x64/family=m7i
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: "Thanks for helping with your first Issue sent!"
        pr-message: "Thanks for helping with your first Pull Request made!"
